*, *::after, *::after{
	box-sizing: border-box;
	margin: 0;
}

html{
	font-size: 16px;
}

body {
	font-family: 'Indie Flower';
	padding: 0;
	margin: 0;
}

.container{
	background: #eee;
	height: 100vh;
	padding-top: 2rem; 
	
	text-align: center;
	overflow: hidden;
}

.unselectable{
	user-select: none;
}

.title{
	font-family: 'Indie Flower', sans-serif;
	font-size: 3rem;
}

.description{
	font-family: 'Indie Flower', cursive;
	font-weight: 700;
	font-size: 1.5rem;
}

.game{	
	display: flex;
	justify-content: center;
	align-items: center;
}

#box{
	background: #000;
	height: 3rem;
	width: 3rem;
	margin: 4rem;
	transition: all 0.75s linear;
	position: relative;
	top: 0;
	left: 0;
} 

#gamesWon {
	font-size: 2em;
}

#gamesWonContainer {
	margin-top: 1em;
}