*, *::after, *::after{
	box-sizing: border-box;
	margin: 0;
}

html{
	font-size: 16px;
}

body {
	font-family: 'Indie Flower', sans-serif;
	padding: 0;
	margin: 0;
}

.container{
	background: #eee;
	height: 100vh;

	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;	
	flex-wrap: wrap;
}

.unselectable {
	user-select: none;
}

.title{
	font-family: 'Indie Flower', sans-serif;
	font-size: 3rem;
}

.menu {

}

.game{	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#box {
	background: #000;
	height: 3rem;
	width: 3rem;
	margin: 4rem;
	transition: all 0.75s linear;
	border-radius: 0.25rem;
	position: relative;
	top: 0;
	left: 0;
} 

.is-hidden {
	display: none;
}

#gamesWonContainer {
	margin-top: 0.5rem;
}

#gamesWon {
	font-size: 2rem;
	font-weight: bold;
}

#winScreen {
	background-color: rgba(0, 0, 0, 0.75);

	height: 100vh;
	width: 100vw;

	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}